a {
    text-decoration: none;
    color: #505050;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.top-bar {
    margin-top: 18px;
    padding:4px 23px;
    font-size: small;
}

#about {
    margin-left: 6px;
}

#store {
    margin-top: 6px;
}

#gmail {
    margin-top: 0px;
    position: absolute;
    right: 240px;
}

#images {
    margin-top: 0px;
    position: absolute;
    right: 170px;
}

#apps {
    margin-top: -2px;
    position: absolute;
    right: 130px;
}

#signin {
    position: absolute;
    right: 30px;
    top: 10px;
    margin-top: 3px;
    background-color: #1a73e8; 
    border:1px solid transparent; 
    color:white; 
    padding:4px 14px; 
    border-radius:2px; 
    cursor: pointer; 
    width: 75px; 
    height: 30px;
}

#sign-in-button:hover {
    background-color: #3180e7 ;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(49,128,231,0.44);
    -moz-box-shadow: 0px 1px 1px 1px rgba(49,128,231,0.44);
    box-shadow: 0px 1px 1px 1px rgba(49,128,231,0.44);
}

#logo {
    margin-top: 115px;
}

#searchbar * {
    float: left;
}

#searchbar {
    margin-top: 25px;
    width: 38%;
    height: 35px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    -webkit-box-shadow: -1px 1px 2px 1px rgba(209,207,209,1);
    -moz-box-shadow: -1px 1px 2px 1px rgba(209,207,209,1);
    box-shadow: -1px 1px 2px 1px rgba(209,207,209,1);
}

#searchicon {
    margin-top: 9px;
    margin-left: 10px;
}
#micicon {
    margin-left: 510px;
    margin-top: 5px;
}

#searcharea * {
    margin-top: 0px;
    width: 31%;
    height: 4% ;
    position: absolute;
    left: 34%;
    border: none;
    outline: none;
    font-size: large;
}

#mic-icon:hover {
    cursor: pointer;
}

#search, #lucky  {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#search:hover {
    border-color: #bbbbbb;
    border-width: 1px;
}

#lucky:hover {
    border-color: #bbbbbb;
    border-width: 1px;
}

#search-buttons {
    margin-top: 30px;
}

#footer {
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 300px;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}

#rightfooter * {
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    font-size: 14px;
}

#leftfooter * {
    float: left;
    margin-left: 30px;
    font-size: 14px;
}